body {
background-color: lightblue;
}

h1 {
color: navy;
font-family: verdana;
font-size: 20px;
}

p {
color: navy;
font-family: verdana;
font-size: 10px;
}

font-family: verdana;
font-size: 20px;